<section class="categories">
  <h2>Categories</h2>
  <ul>
    <% for( let index = 0; index < 10; index++ ) { %>
      <li><a href="/category/<%= categories[index].name %>"> <%= categories[index].name %> (<%= categories[index].articles.length%>) </a></li>
      <li class="hr">
        <hr>
      </li>
    <% } %>
  </ul>
  <div class="dropdown">
    <a href="#" id="dlabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true"
      aria-expanded="true">
      المزيد <span class="caret"></span>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dlabel">
      <% for( let index = 11; index < categories.length - 1; index++ ) { %>
      <li><a href="/category/<%= categories[index].name %>"> <%= categories[index].name %> (<%= categories[index].articles.length%>) </a></li>
      <li class="hr">
        <hr>
      </li>
      <% } %>
    </ul>
  </div>
</section>