<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/public/Css/Home.min.css">
</head>

<body>
	<%- include('./includes/header.ejs') %>
	<!-- Carousel -->
	<div class="carousel slide container" id="slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#slide" data-slide-to="0" class="active"></li>
			<li data-target="#slide" data-slide-to="1"></li>
			<li data-target="#slide" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<% articles.forEach((article, i) => { %>
				<div class="item <% if(!i) { %>active<% } %>">
					<img src="/<%= article.imageUrl %>" alt="<%= article.header %> article" class="img-responsive">
					<div class="carousel-caption">
						<p> <i class="far fa-calendar-alt"></i> <%= article.day %> <%= article.month %> <%= article.year %></p>
						<h2><%= article.header %></h2>
						<a href="/Article/<%= article._id %>">أقرأ المزيد</a>
					</div>
				</div>
			<% }) %>
		</div>
		<a class="left carousel-control" href="#slide" role="button" data-slide="prev">
			<span class="icon-prev"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#slide" role="button" data-slide="next">
			<span class="icon-next"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	</header>

	<div class="container body">
		<main>
			<% articles.forEach(article => { %>
			<section>
				<div class="date">
					<div class="calender">
						<i class="far fa-calendar"></i>
						<p><%= article.day %></p>
						<hr>
						<p><%= article.month %></p>
						<p><%= article.year %></p>
					</div>
					<div class="comment">
						<i class="far fa-comment"></i>
						<p><%= article.comments.length %></p>
					</div>
				</div>
				<div class="bodySection">
					<img src="/<%= article.imageUrl %>" alt="<%= article.header %> article" class="img-responsive">
					<h2><%= article.header %></h2>
					<p>
						<a href="/category/<%= article.category %>">
							<span class="tag"><i class="fas fa-tags"></i> <%= article.category %></span>
						</a>
						<a href="/MemberArticles/<%= article.user.userId %>">
							<i class="fas fa-user"></i><%= article.user.name %>
						</a>
					</p>
					<p><%= article.content %></p>
					<a href="/Article/<%= article._id %>" class="more"> اقرأ المزيد </a>
				</div>
			</section>
			<% }) %>
		</main>
		<aside>
			<%# Categories %>
			<%- include('./includes/categories.ejs') %>

			<%# Tags %>
			<%- include('./includes/tags.ejs') %>

			<%# Subsription %>
			<form>
				<h2>Subsription</h2>
				<input type="text" name="Name" id="name" placeholder="الاسم">
				<input type="email" name="Mail" id="mail" placeholder="البريد الإلكتروني*" required>
				<input type="submit" value="Submit" class="btn btn-primary">
			</form>

		</aside>
	</div>
	<%- include('./includes/end.ejs') %>