<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/public/Css/signup.min.css">
</head>

<body>
  <%- include('./includes/header.ejs') %>
  <main class="container">
    <%= errorMessage %>
    <form action="/signup" method="POST" novalidate enctype="multipart/form-data">
      <input type="text" name="name" id="name" placeholder="الإسم*" value="<%= oldInput.name %>"
        class="<%if(errorInput === "name") {%>unvalid<% } %>">
      <input type="email" name="mail" id="mail" placeholder="البريد الإلكتروني*" value="<%= oldInput.mail %>"
        class="<%if(errorInput === "mail") {%>unvalid<% } %>">
      <input type="password" name="password" id="password" placeholder="كلمة المرور*" value="<%= oldInput.password %>"
        class="<%if(errorInput === "password") {%>unvalid<% } %>">
      <input type="password" name="confirmPassword" id="confirm-password" placeholder="اعادة كلمة المرور*"
        value="<%= oldInput.confirmPassword %>" class="<%if(errorInput === "confirmPassword") {%>unvalid<% } %>">
      <input type="file" name="image" id="image">
      <input type="url" name="facebook" id="facebook" placeholder="لينك اكونت Facebook*"
        value="<%= oldInput.facebook %>" class="<%if(errorInput === "facebook") {%>unvalid<% } %>">
      <input type="url" name="twitter" id="twitter" placeholder="لينك اكونت Twitter*" value="<%= oldInput.twitter %>"
        class="<%if(errorInput === "twitter") {%>unvalid<% } %>">
      <input type="url" name="google" id="google" placeholder="لينك اكونت Google+*" value="<%= oldInput.google %>"
        class="<%if(errorInput === "google") {%>unvalid<% } %>">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <input type="submit" value="تسجيل" class="btn btn-primary">
    </form>
  </main>
</body>